*{
    font-family: 'Koulen', cursive;
}
.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/rivendawn.jpg');
    height: 100vh;
    background-size: cover;
    position: relative;
    padding: 20px;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/riven_pulsofuego.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/riven_centinel.jpg');
    height: 100vh;
    background-size: cover;
    position: relative;
    padding: 100px 20px 20px 20px;
}
nav{
    z-index: 10;
}
nav li{
    font-size: 20px;
}
.navbar-brand{
    font-size: 25px !important;
}
.icono{
    width: 60px;
}
.main-div{
    height: 50vh;
}
.main-text{
    font-size: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.formulario{
    margin-top: 120px;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.formulario-input{
    width: 400px;
    background-color: #123b7c76;
    padding: 10px 20px 45px 20px;
    border-radius: 10px;
}
.logo-rango{
    transition: transform .3s;
}
.logo-rango:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
.footer{
    position: absolute;
    bottom: 10px;
}
.card_imagen{
    width: 100% !important;
}
.card-fondo{
    background-color: #040f2176 !important;
}
.warning{
    background-color: #f0ac4ea2;
    border-radius: 10px;
}
/* Animacion Niebla */

.fog-anim{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: url('../img/nieblino.png') repeat-x;
    background-size: 200% auto;
    background-position: 0 bottom;
    animation: fogAnim 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fogAnim {
    0%{background-position: -200% bottom;}
    100%{background-position: 0% bottom;}
}

/* Responsive */

@media (max-width: 600px) {
    .main-div{
        width: 100%;
        text-align: center;
    }
    .main-text {
        font-size: 50px;
    }
    .main{
        background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/rivendawnresponsive2.jpg');
    }
    body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/riven_pulso_responsive.jpg');
    }
    .main3{
        background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/riven_centinela_responsive.jpg');
        height: 100%;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .main-div{
        width: 100%;
        text-align: center;
    }
    .main-text {
        font-size: 95px;
    }
    .main{
        background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/rivendawnresponsive2.jpg');
    }
    body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/riven_pulsofuego_tablet.jpg');
    }
    .main3{
        background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/riven_centinela_tablet.jpg');
        height: 100%;
    }
}