*{
    font-family: 'Koulen', cursive;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url('../img/rivensusano.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contenedor{
    margin-top: 20%;
}
nav{
    z-index: 10;
}
nav li{
    font-size: 20px;
}
.navbar-brand{
    font-size: 25px !important;
}
.fondo{
    background-color: rgba(0, 0, 0, 0.425);
}