{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand logo-title" href="#"><i class="fas fa-gamepad"></i> Buffed-Riven</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'oro' %}">Cuentas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% include 'carro_compra.html' %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="fog-anim"></div>
    <div class="main-div">
        <div class="text-light main-text">La cuenta que buscas <br> en <i><b>Buffed-Riven</b></i></div>
    </div>
</div>
<div class="main3">
    <div class="text-center text-light">
        <h1>Nuestras Cuentas</h1>
    </div>
    <div class="row text-light text-center">
        <div class="col-lg-4">
            <div class="col-lg-12 mb-2">
                <img src="{% static 'img/rangos/Unranked.png' %}" class="logo-rango" alt="">
                <h2>Unranked</h2>
                <p>Cuentas de Nivel 30+, nunca rankeadas, con 40.000+ de escencia azul para que tengas un nuevo comienzo en
                    los campos de la justicia. SIn riesgo de baneos. Email sin verificar. Listas para rankear.
                </p>
                <a href="{% url 'oro' %}#unranked" class="btn btn-block btn-warning">Conocelas aca</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12 mb-2">
                <img src="{% static 'img/rangos/Oro.png' %}" class="logo-rango" alt="">
                <h2>Oro</h2>
                <p>Cuentas rankeadas en elo oro, cada una es distina, alcanza tus recompensas de final de temporada seleccionando
                    esta opcion. La skin victoriosa te espera, la cuenta es toda tuya. Email sin verificar.
                </p>
                <a href="{% url 'oro' %}#oro" class="btn btn-block btn-warning">Conocelas aca</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12 mb-2">
                <img src="{% static 'img/rangos/Platino.png' %}" class="logo-rango" alt="">
                <h2>Platino</h2>
                <p>Cuentas rankeadas en elo Platino, alcanza tus recompensas de final de temporada
                    y ese marco de color cyan tan anhelado. cuentas con poco stock, compra la tuya. Email sin verificar.
                </p>
                <a href="{% url 'oro' %}#platino" class="btn btn-block btn-warning">Conocelas aca</a>
            </div>
        </div>
    </div>
    <footer class="text-light">
        <span class="footer">Buffed-Riven ® 2022</span>
    </footer>
</div>

{% endblock %}